:root {
    --nav-menu-col: #ed2121;
    --white: #f8f6f1;
  }

body{
    background-color: #f8f6f1;
    margin: 0;
}


/* nav bar */
nav{
    display: block;
    position: relative;
    z-index: 2;
    width: 20vw;
    height: 15%;
    margin: 2em 0 1em 1em;
    /* background-color: #f8f5f2; */

    font-family: monospace;
    font-size: 1.2em;
    color: var(--nav-menu-col);
    line-height: 1.5em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
a:link {
    color: var(--nav-menu-col);
}
  
a:visited {
    color: var(--nav-menu-col);
}
  
a:active {
    color: #0C0C0C;
}