.body{
    margin: 0;
}

.container {
    display: flex;
    max-width: 100vw; /* Limit container width to viewport width */
    max-height: 87vh;
    position: relative; /* Enable positioning of flex items */
    overflow-y: hidden;
}

.flex-item {
    position: relative; /* Enable z-index positioning */
    z-index: 1; /* Set default z-index */
}

.item1{
    margin-left: 0;
}


.flex-item:hover {
    z-index: 2; /* Increase z-index on hover */
}

img {
    height: 90vh;
    width: 30vw;
    overflow: hidden;
}

img:hover {
    height: 90vh;
    width: auto;
}



.flex-item:hover .caption {
    opacity: 1;
}