html{
    cursor: url("workbook/cursor01.png"), auto;
    }

body{
    /* background-image: url(workbook/img/atelier-background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh; */
    background-color: #f8f6f1;
}


/* TEXT*/
h1{
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

figcaption{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.5em;
}



/* IMAGE GALLERY */
.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    position: relative;
    min-width: fit-content;
}

.item{
    width: 15%;
    height: 15%;
    padding: 0.5em 0.5em 1.5em 0.5em;
    flex: auto;
}

img{
    width:150px;
    height:100px;
    object-fit: cover;
}

.hidden{
    display: none;
}

/* make gallery scrollable */
.container{
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
  }

/* wiggle function retrieved from https://www.w3schools.com/howto/howto_css_shake_image.asp */
img:hover {
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(0px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* footer */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    position: relative;
    background-color: #ef2300;
    width: 100vw;
    height: 15vh;
    margin: 0;

}

nav >h1{
    font-weight: 500;
    color: #f8f6f1;
    padding: 0.5em 0 0 0.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}
