:root {
    --red: #ed2121;
    --white-alt: #f8f6f1;
    --black-alt: #0C0C0C;
    --yellow: #f7fabc;

  }

#mydiv {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start;

    background-color: var(--yellow);
    height: auto;
    width: 25vw;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    cursor: grab;

  }
  
  b{
    font-family: monospace;
    color: var(--black-alt);  
    padding: 1em 0 1em 2em;
    font-weight: bolder;
  }

  #mydiv p{
    font-family: monospace;
    font-size: smaller;
    color: var(--black-alt);  
    padding: 1em 0 1em 2em;
    margin: 0;
  }
  
  #mydiv ul {
    font-family: monospace;
    font-size:xx-small;
    color: var(--black-alt);
    padding-left: 4em;
    margin: 0;
  }
  